<!DOCTYPE html>
<html>
<head>
	<title>Library Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home_style.css') }}">
</head>
<body>
	<div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}}">
              <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Welcome, {{ curr_user.username|capitalize }}</h2>      
            </div>
            <div class="form-inline float-right">
              <form class="form-group mr-2" action="{{url_for('view_profile')}}" method="POST">
                <input type="hidden" name="username" value="{{ curr_user.username }}">
                <button type="submit" class="btn btn-outline-info"><i class="fas fa-user"> Profile</i></button>
              </form>
              <div class="col-md-4 text-md-right">
                  <a href="{{ url_for('login_page_function') }}" class="btn btn-outline-danger"><i class="fas fa-sign-out-alt"></i></a>
              </div>
            </div>
        </div>
            
    
        <div class="row">
          <div class="col-md-12">
              <form class="form-inline float-right">
                  <div class="form-group">
                      <input type="text" class="form-control mr-sm-2" placeholder="Search Book">
                      <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                  </div>
              </form>
              <div class="form-inline">
                  <form class="form-group mr-2" action="{{url_for('ret_home')}}" method="POST">
                      <input type="hidden" name="username" value="{{ curr_user.username }}">
                      <button type="submit" class="btn btn-outline-success"><i class="fas fa-home"></i></button>
                  </form>
                  <form class="form-group mr-2">
                      <input type="hidden" name="username" value="{{ curr_user.username }}">
                      <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-book"></i> Borrowed books</button>
                  </form>
                  <form class="form-group" action="{{ url_for('request_book') }}" method="POST">
                      <input type="hidden" name="username" value="{{ curr_user.username }}">
                      <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-plus"></i> Request for book</button>
                  </form>
              </div>
          </div>
      </div>
      
        
      
      </div>


		{% block content %}
    {% endblock %}

        
	</div>
</body>
</html>
