<!DOCTYPE html>

<HTML>
    <HEAD>
        <title>Home Page</title>
    </HEAD>
    <BODY>
        <h1>TABLE 1:</h1>
        <table border="4" style="width: 70%;">
            <tr>
                <td><b>Train Name</b></td>
                <td><b>Train Number</b></td>
                <td><b>Source</b></td>
                <td><b>Destiation</b></td>
                <td><b>Fare</b></td>
            </tr>
            <tr>
                <td>Rajdhani Express</td>
                <td>18021</td>
                <td>Bbsr</td>
                <td>Ndl</td>
                <td>5600</td>
            </tr>
        </table>

        <h1>TABLE 2:</h1>
        <table border="2" style="border-collapse: collapse; width: 70%;">
            <caption>Life Expectancy by current Age</caption>
            <tr>
                <td colspan="2" style="background-color: #cccccc;">65</td>
                <td colspan="2" style="background-color: #cccccc;">40</td>
                <td colspan="2" style="background-color: #cccccc;">20</td>
            </tr>
            <tr>
                <td style="background-color: #cccccc;">Men</td>
                <td style="background-color: #cccccc;">Women</td>
                <td style="background-color: #cccccc;">Men</td>
                <td style="background-color: #cccccc;">Women</td>
                <td style="background-color: #cccccc;">Men</td>
                <td style="background-color: #cccccc;">Women</td>
            </tr>
            <tr>
                <td>82</td>
                <td>85</td>
                <td>78</td>
                <td>82</td>
                <td>77</td>
                <td>81</td>
            </tr>
        </table>

        <h1>TABLE 3</h1>
        <table border="4" style="border-collapse: collapse; width: 70%;">
            <caption>Invoice</caption>
            <tr>
                <td><b>Item Desc.</b></td>
                <td><b>Qty.</b></td>
                <td><b>@</b></td>
                <td><b>Price</b></td>
            </tr>
            <tr>
                <td>Paperclips Box</td>
                <td>100</td>
                <td>1.15</td>
                <td>115.00</td>
            </tr>
            <tr>
                <td>Paper (Case)</td>
                <td>10</td>
                <td>45.99</td>
                <td>459.90</td>
            </tr>
            <tr>
                <td>Wastepaper Baskets</td>
                <td>2</td>
                <td>17.99</td>
                <td>35.98</td>
            </tr>
            <tr>
                <td colspan="3" style="background-color: #cccccc;">Subtotal</td>
                <td>610.88</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color: #cccccc;">Tax</td>
                <td>7%</td>
                <td>42.76</td>
            </tr>
            <tr>
                <td colspan="3" style="background-color: #cccccc;">Total</td>
                <td>653.64</td>
            </tr>
        </table>

        <h1>TABLE 4:</h1>
        <table border="4", style="border-collapse: collapse; width: 70%;">
            <tr>
                <td>Roll Number</td>
                <td>Name</td>
                <td colspan="2">Suject Wise Marks</td>
                <td>Average</td>
                <td>SGPA</td>
                <td>Grade</td>
            </tr>            
            <tr>
                <td rowspan="4">17069</td>
                <td rowspan="4">Arun Sahu</td>
                <td>Sub-1</td>
                <td>40</td>
                <td rowspan="4">60</td>
                <td rowspan="4">6</td>
                <td rowspan="4">B</td>
            </tr>
            <tr>
                <td>Sub-2</td>
                <td>70</td>
            </tr>
            <tr>
                <td>Sub-3</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Sub-4</td>
                <td>50</td>
            </tr>            
        </table>


    </BODY>
</HTML>