{% extends 'auth_layout.html' %}
{% block content %}
		<h1>Login to your account</h1>
		<form method="POST" action="{{ url_for('login_page_function') }}>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required>

			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>
            <br>
			<input type="submit" value="Login">

            <label>No account? Click here to <a href="/register">signup</a></label>
		</form>
{% endblock %}